.navbar-modi {
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #e7e7e7;
    box-shadow: 1px 1px 10px #33333310;

}

.navbar-right {
    gap: 30px;
    font-size: 28px;

    .badge {
        color: #fff;
        background: green;
        font-size: 12px;
        font-weight: normal;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        position: absolute;
        transform: translate(-10px, 3px);
        padding: 0;
    }
}

.navbar-right svg {
    cursor: pointer;

}

.navbar-right svg:hover {
    color: #00a3ff;
}